name: Build SQL DACPAC

on:
  push:
    branches:
      - main       

jobs:
  build:
    name: Build DACPAC
    runs-on: windows-latest   

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1

      
      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1
        
      - name: Restore NuGet Packages
        run: |
          msbuild "Pratcise_SQL/Pratcise_SQL.sqlproj" `
            /t:Restore `
            /p:Configuration=Release
     
      - name: Build SQL Project
        run: |
          msbuild "Pratcise_SQL/Pratcise_SQL.sqlproj" `
            /p:Configuration=Release `
            /p:Platform="Any CPU"
     
      - name: Upload DACPAC Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dacpac                           
          path: Pratcise_SQL/bin/Any CPU/Release/Pratcise_SQL.dacpac